:root {
  --primary-color: #12254B;
  --secondary-color: #24C2AA;
  --title: 4.8rem;
  --large: 3rem;
  --medium: 2rem;
  --small: 1.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}