:root {
  --primary-color: #12254B;
  --secondary-color: #24C2AA;
  --white: #FFFFFF;
  --black-blue: #0e1336;
  --video-title: #D5F8F3;
  --title: 4.8rem;
  --large: 3rem;
  --medium: 2rem;
  --small: 1.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

html {
    font-size: 62.5%;

}

.header {
    width: 100vw;
    height: 90px;
    margin: 0 auto;
    background-color: var(--primary-color);
    display: flex;
}

.logo img {
    margin-left: 5.2vw;
    padding: 13px 0 13px;
}

.menu {
    width: 100vw;
    margin-right: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header nav ul {
    display: flex;
}

.header nav ul li {
    list-style: none;
    margin-left: 3vw;
    font-family: 'Mulish', sans-serif;
    font-size: var(--medium);
    color: var(--white);
    line-height: 2.51rem;
    font-weight: bold;
    padding: 12px;
}

.header nav ul li:hover {
    border: 1px solid #EFFBFF;
    border-radius: 25px;
    padding: 12px;
    cursor: pointer;
}

main {
    width: 100vw;
    height: auto;
}

.main-image{
    background-color: var(--black-blue);
}

.main-image img {
    width: 100vw;
    height: auto;
}

.main-section-cards {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: var(--black-blue);
}

.main-cards {
    width: 92vw;
    height: auto;
    background-image: linear-gradient(to bottom, #2e3351, #2a2e4c, #252947, #212443, #1d1f3e); 
    border-radius: 50px;   
    margin-top: 67px;
    padding-bottom: 80px;
}

.main-cards h2 {
    text-align: center;
    padding: 67px 0 67px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--title);
    line-height: 6.24rem;
    font-weight: bold;
    color: #D5F8F3;
}

.container-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    width: 92vw;
    gap: 20px;
    /*display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 260px);
    gap: 20px;*/
}

.container-cards a *, .container-cards a{
    text-decoration: none;
    cursor: pointer;
}

.pokemon-card {
    width: 260px;
    height: 304px;
    border: 3px solid #A7F0E5;
    border-radius: 28px;
    text-align: center;
    position: relative;
    margin: 0 0 50px;
}

.pokemon-card img {
    margin-top: 18px;
    max-height: 50%;
    max-width: 100%;
}

.pokemon-card h4 {
    margin-top: 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.1rem;
    color: var(--white);
}

.pokemon-card p {
    margin-top: 4px;
    font-family: 'Mulish', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2.1rem;
    color: var(--white);
}

.pokemon-card .number {
    width: 79.78px;
    height: 79.78px;
    border-radius: 50%;
    background-color: #24C2AB;
    position: absolute;
    bottom: -50px;
    right: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 5.9rem;
    font-weight: 800;
    color: var(--white);
}

.video-section {
    padding-bottom: 130px;
    background-color: var(--black-blue);
}

.video-section h2 {
    padding: 67px 0 67px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: var(--title);
    font-weight: bold;
    line-height: 6.24rem;
    color: var(--video-title);
}

.video-section iframe {
    background-color: pink;
    width: 89vw;
    height: auto;
    margin:auto;
    display:block;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(14px 14px 0px #24C2AA);
}

.info-section {
    width: 100vw;
    height: 72px;
    background-color: var(--secondary-color);
}

.info-section h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    padding: 20px 0 20px ;
}

@media (max-width: 800px) {
    .info-section h3 {
        font-size: 15px;
    }

}

@media (max-width: 600px) {
    .info-section h3 {
        font-size: 11px;
    }

    .header nav ul {
        display: none;
    }

}

@media (min-width: 800px) {
    .video-section iframe {
        height: 75vh;
    }
}

.main-pokemon-info {
    width: 100vw;
    height: auto;
    background: linear-gradient(180deg, #0D163B 0%, #0C021C 100%);
}

.container-pokemon-info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 102px;
    padding-bottom: 103px;
    justify-content: center;
}

.container-pokemon-info .w5 {
    width: 37vw;
    min-width: 400px;
    height: 421px;
    margin-right: 20px;
    background: linear-gradient(180deg, rgba(167, 240, 229, 0.072) 0%, rgba(227, 254, 250, 0.3) 100%);
    border: 3px solid #A7F0E5;
    border-radius: 28.5246px;
    padding: 15px 50px;
    text-align: center;
}

.container-pokemon-info .w7 {
    width: 52.5vw;
    min-width: 400px;
    height: 421px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: linear-gradient(180deg, rgba(167, 240, 229, 0.072) 0%, rgba(227, 254, 250, 0.3) 100%);
    border: 3px solid #A7F0E5;
    border-radius: 28.5246px;
    padding: 15px 50px;
    text-align: center;
}

.pokemon-image img {
    width: 29.29vw;
    min-width: 320px;
    height: 390px;
}

.pokemon-name {
    width: 37vw;
    min-width: 400px;
    height: 73px;
    margin-right: 20px;
    background-color: #24C2AA;
    border: 3px solid #24C2AA;
    border-radius: 28.5246px;
}

.pokemon-name p {
    color: #0D1539;
    font-size: 4.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 6.2rem;
    padding: 5px 119px;
    text-align: center;
}

.pokemon-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pokemon-stats .stat {
    display: flex;
}

.pokemon-stats h4 {
    width: 186px;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 4.1rem;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-top: 31px;
    text-align: start;
}

.pokemon-stats span {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4.1rem;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-top: 31px;
    margin-left: 56px;
}

.pokemon-description h4 {
    text-align: start;
    font-size: 3.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 4.1rem;
    color: #FFFFFF;
    margin-top: 31px;
}

.pokemon-description ul {
    text-align: start;
    font-size: 3.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 4.1rem;
    color: #FFFFFF;
    margin-top: 31px;
}
